<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Amazon</title>
	{% endif %}
</head>
<body>
	<center><h2>Welecome to Mini Amazon</h2></center>

	{%if signin%}
	<h4>Welcome {{session['username']}}</h4>
	{%endif%}

	{% if session['c_type']=='buyer' %}

	<p><a href="#">Click here </a> to look at the product</p>
	{% else %}
	<p><a href="#">Click here </a> to look at your cart</p>
	{% endif %}

	{% if title != 'Contact' %}
	<a href="/contact">Contact</a>
	{% endif %}

	{% if title != 'About' %}
	<a href="/about">About</a>
	{% endif %}

	{% if title != 'Home' %}
	<a href="/">Home</a>
	{% endif %}

	{% if title != 'Login' %}
	{% if not session %}
	<a href="/login">Login</a>
	{% endif %}
	{% endif %}

	{% if session %}
		<a href="/logout">Logout</a>
	{% endif %}
</body>
</html>