{% extends 'layout.html' %}
{% block body %}
{% if session['c_type']=='buyer'%}
	<center><p>Here are the list of products u can buy</p></center>
{% else %}
<center><p>Here are the list of products</p></center>
{% endif %}
{% for product in products%}
<ul>
		<li><b>Product Name</b>:{{ product['name'] }}</li>
		<li><b>Product Price</b>:{{ product['price'] }}</li>
		<li><b>Product Description</b>:{{ product['description']}}</li>
</ul>
{% if session['c_type']=='seller' %}
<form action="/remove" method="POST">
	<input type="hidden" name="name" value="{{product['name']}}">
</form>
{% else %}
{% endif %}
{% endfor %}
{% endblock body %}