{% extends "base_template.html" %}


{% block content %}
<div class="container">
    {% for bus in bus_list %}
      <div class="card" style="width: 50rem;">
        <h5 class="card-title m-2">{{ bus['bus_name']}}</h5>
        <div class="card mb-3">
          <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ bus['icon_url']}}" class="card-img" alt="..." style="width: 100px;">
              </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-title">{{ bus['type']}}</p>
                <p class="card-text">{{ bus['boarding']}} - {{ bus['droping']}}</p>
                <p class="card-text"><small class="text-muted">$500</small></p>
              </div>
            </div>
          </div>
          <div class="float-right">
            <a href="#"><button type="button" class="btn btn-primary btn-sm">View</button></a>
          </div>
        </div>
      </div>
    {% endfor %}
    
</div>

{% endblock %}